<form action="/create-user" method="post">
    <fieldset>
        <legend>Form add new users</legend>
        <div class="input-group">
            <label for="">Email:</label>
            <input type="text" name="email" id="emailId">
        </div>
        <div class="input-group">
            <label for="">Name:</label>
            <input type="text" name="name" id="myname">
        </div>
        <div class="input-group">
            <label for="">City:</label>
            <input type="text" name="city" id="idCity">
        </div>
        <div>
            <button>Save</button>
        </div>
    </fieldset>
</form>